docs2025-09-15/My workflow 2.json
{"createdAt":"2025-05-26T04:10:13.212Z","updatedAt":"2025-05-26T04:14:43.000Z","id":"22VCcFWJVbCpn3eR","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Bạn là một trợ lý cá nhân tên là VietNT. Vai trò của bạn là phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp.\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và mật khẩu email từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.. \n## IP  \n→ Dùng để lấy địa chỉ IP của máy in, dựa vào tên phòng ban người dùng cung cấp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[340,0],"id":"ae0fbbb3-b231-4abd-bb24-e44eb868856c","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[580,320],"id":"12969511-e318-44dd-a689-354f85ec80cf","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-220,40],"id":"cac4f218-01e3-4fe3-9d7b-76c0805c3445","name":"Telegram Trigger","webhookId":"e95d2e75-a14a-4d04-8e09-189351d2d62b","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[740,320],"id":"1f4ba6df-70b7-40b6-97e3-0b0f2dcb6dd5","name":"IP","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$('Telegram Trigger').item.json.message.chat.id}}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[400,260],"id":"de95f5c6-944c-4aff-99d7-6690c8bc5bfa","name":"Simple Memory"},{"parameters":{"chatId":"5486934171","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,40],"id":"f244ab5a-2532-42cb-a5eb-247305917529","name":"Telegram","webhookId":"08b64f88-c297-4d23-8b5d-884630af4db2","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93ba0f45-a5c3-4e95-8de2-ba476fd389b7","leftValue":"={{ $json.message.chat.id }}","rightValue":5486934171,"operator":{"type":"number","operation":"equals"}},{"id":"75c98ca2-593e-4cf8-8907-31a0f15f0289","leftValue":"={{ $json.message.from.username }}","rightValue":"vietntacc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,0],"id":"aac211a5-e26f-4c4f-83a9-5b602cce437c","name":"If"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[100,280],"id":"47dd68cc-3f4a-468e-b2bb-4076fc1ff384","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}}],"connections":{"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"IP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"24999ca3-019f-40a8-97c4-843fda460b8a","triggerCount":0,"shared":[{"createdAt":"2025-05-26T04:10:13.216Z","updatedAt":"2025-05-26T04:10:13.216Z","role":"workflow:owner","workflowId":"22VCcFWJVbCpn3eR","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}