docs2025-05-10/Trợ Lý Ảo.json
{"createdAt":"2025-05-09T04:13:45.486Z","updatedAt":"2025-05-10T01:59:13.000Z","id":"XLfCmsAnLbjkRQ7W","name":"Trợ Lý Ảo","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Bạn là một trợ lý cá nhân tên là VietNT. Vai trò của bạn là phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp.\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và mật khẩu email từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.. \n## IP  \n→ Dùng để lấy địa chỉ IP của máy in, dựa vào tên phòng ban người dùng cung cấp.\n## SerpAPI  \n→ Dùng để truy xuất và phân tích kết quả tìm kiếm trên internet (Google)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-160,-380],"id":"62843aa0-dbae-4441-9202-19474e722ed3","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[80,-60],"id":"70b3e96f-2e64-4efc-982c-ae1655dafd2e","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-440,-300],"id":"6b0c18d1-9a23-4f5e-8a70-6a0479b5b2b0","name":"Telegram Trigger","webhookId":"e95d2e75-a14a-4d04-8e09-189351d2d62b","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[240,-80],"id":"97b40385-0aef-4cf4-9786-4f88635b3169","name":"IP","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-340,-40],"id":"41945562-a709-464e-a550-a4bc59392acf","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$('Telegram Trigger').item.json.message.chat.id}}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-120,-60],"id":"5357b63f-6d1b-4f91-a3b6-dcdf622ab985","name":"Simple Memory"},{"parameters":{"chatId":"5486934171","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[260,-340],"id":"f8349966-6282-4f44-a6c2-a496795fd02c","name":"Telegram","webhookId":"08b64f88-c297-4d23-8b5d-884630af4db2","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[420,-60],"id":"1ce60532-203b-4457-80c7-06615d71dd7e","name":"Google Search","credentials":{"serpApi":{"id":"W5enDcE1L5LC6cZU","name":"SerpAPI account"}}}],"connections":{"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"IP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5559efa9-b2bd-4380-8119-5c4e5d0fba27","triggerCount":1,"tags":[]}