docs2025-07-11/TRỢ LÝ CÁ NHÂN.json
{"createdAt":"2025-05-27T07:56:52.469Z","updatedAt":"2025-06-19T04:08:17.000Z","id":"4dezCFGY5rSNsffN","name":"TRỢ LÝ CÁ NHÂN","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Role  \nBạn là một trợ lý AI có nhiệm vụ *phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp*.  \n\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Email  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và *mật khẩu email* từ dữ liệu `email`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng. \n\n## IP  \n→ Dùng để lấy địa chỉ IP của *máy in*, dựa vào tên *phòng ban* người dùng cung cấp.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[420,-20],"id":"b4d7dbdd-f1af-4fba-b319-315c182fabb4","name":"AI Agent","alwaysOutputData":true},{"parameters":{"trigger":["app_mention"],"channelId":{"__rl":true,"value":"C08U16F90GJ","mode":"list","cachedResultName":"troly"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[60,-20],"id":"0a85a756-6be5-4677-96a1-c1339071c13c","name":"Slack Trigger","webhookId":"2f201877-0557-4d99-bc9c-72631c96d342","credentials":{"slackApi":{"id":"24uhou8Ght42FalE","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08U16F90GJ","mode":"list","cachedResultName":"troly"},"text":"={{ $json.output }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[900,-20],"id":"913bf376-8574-41d9-83cf-d8f48c427ed8","name":"Slack","webhookId":"67865508-9503-4587-b4be-8703c34cf798","credentials":{"slackApi":{"id":"24uhou8Ght42FalE","name":"Slack account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[620,300],"id":"61cd2ed4-ede4-4dec-90fb-c5a25e2cf3c6","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[220,300],"id":"1315a7cf-ca17-408a-a065-9cd156efa8a1","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[920,280],"id":"c1f67a21-fb6f-4a6f-bf17-7ef08f0f5f73","name":"IP","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"IP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f5352442-c353-4254-aa11-d4577bb309f5","triggerCount":1,"tags":[]}