docs2025-09-30/Bot - Tro Ly.json
{"createdAt":"2025-08-25T08:19:50.122Z","updatedAt":"2025-09-29T06:57:12.000Z","id":"ovpjMM0tkT36uUIn","name":"Bot - Tro Ly","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-1024],"id":"f59f548e-71d7-46fe-8ffd-57eab73b54c4","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0ded997d-871e-45fc-aed0-61fb2a1c2a96","name":"token","value":"1973634994092554300:vdhXyywnifkULoprQWtRIzDbUIjgXAAvkPAgXuHiReeVybTPdfwpuskwyWNMdvAu","type":"string"},{"id":"a1370112-69ed-410c-9909-c5883db99112","name":"url","value":"https://n8nacg.ancuong.com/webhook/zalo-bot","type":"string"},{"id":"c51334ca-90b4-4062-b08e-1dcab582efe5","name":"secret_token","value":"zalo_n8n_2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,-1024],"id":"dc2fa2e8-1330-4768-9287-08bdef669f14","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"},{"name":"secret_token","value":"={{ $json.secret_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,-1024],"id":"22f6fe0d-6be9-4a83-aa4f-088a309c94f8","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"zalo-bot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-560,-696],"id":"b619379f-6f62-446c-9992-6c05fdcedc18","name":"Webhook","webhookId":"ef6b4adb-a07c-4e07-a0ad-d54fd92c17e2"},{"parameters":{"chatId":"b28a198cb4cf5d9104de","text":"={{ $json.output }}"},"type":"n8n-nodes-zalo-bot-me.zaloBot","typeVersion":1,"position":[128,-696],"id":"34acee5c-886e-4ef9-8f13-e2ebce5ec7ee","name":"Zalo Bot","credentials":{"zaloBotApi":{"id":"a90co2CYzefpKnZ5","name":"Zalo Bot account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-208,-472],"id":"ff1d1050-3cd6-4559-8591-2025d7c16d94","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-80,-472],"id":"2cf893c4-a479-4b87-b394-31222340438f","name":"IP","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.message.text }}","options":{"systemMessage":"=# Role  \nBạn là một trợ lý AI có nhiệm vụ *phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp*.  \n\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Email  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban, Mã ID...) và *mật khẩu email* từ dữ liệu `email`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng. \n\n## IP  \n→ Dùng để lấy địa chỉ IP của *máy in*, dựa vào tên *phòng ban* người dùng cung cấp.\n\nVí Dụ: xuất đầy đủ thông tin như sau:\nThông tin của:\nTên nhân viên:\nMã ID: \nEmail công ty: \nChức danh: \nBộ phận: \nSố Điện Thoại: \nPassword: "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-280,-696],"id":"9f6c66ba-d6a1-4137-a965-c18fffba2b7b","name":"AI Agent1","alwaysOutputData":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,-464],"id":"eafa79d8-65f0-408a-9f07-6bc3f61bb39a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"QGQAVAePmyrg1Z1T","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Email":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"IP":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Zalo Bot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8nacg.ancuong.com","user-agent":"Java/1.8.0_192","content-length":"273","accept":"text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"2001:df0:1a:344::5","cf-ipcountry":"VN","cf-ray":"9869826ed8c681c2-HKG","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2123d29f-43bf-40a9-b581-dbc0b34b684a","connection":"keep-alive","content-type":"application/json","x-bot-api-secret-token":"zalo_n8n_2025","x-forwarded-for":"2001:df0:1a:344::5","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"event_name":"message.text.received","message":{"date":1759128240136,"chat":{"chat_type":"PRIVATE","id":"b28a198cb4cf5d9104de"},"message_id":"2fdb554b2336a66eff21","from":{"id":"b28a198cb4cf5d9104de","is_bot":false,"display_name":"Nguyễn Thượng Việt"},"text":"hi"}},"webhookUrl":"https://n8nacg.ancuong.com/webhook/zalo-bot","executionMode":"production"}}]},"versionId":"d4047baf-e2a8-45e1-83e7-5ff6190ee61a","triggerCount":1,"shared":[{"createdAt":"2025-08-25T08:19:50.127Z","updatedAt":"2025-08-25T08:19:50.127Z","role":"workflow:owner","workflowId":"ovpjMM0tkT36uUIn","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}