docs2025-09-30/nghi viec.json
{"createdAt":"2025-09-29T06:51:43.974Z","updatedAt":"2025-09-29T06:52:59.000Z","id":"BeKgoEuuNpMedUqz","name":"nghi viec","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["Label_7862858188661500317"]}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,0],"id":"73f88f1c-e534-4072-9e4f-6adbb5c7fba2","name":"Gmail Trigger"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[256,0],"id":"bc8654ac-7bd3-4bc6-8d6f-9239a6c647ff","name":"Get a message","webhookId":"b5b1a8a2-4e5b-4920-bf92-44d46505ad77"},{"parameters":{"jsCode":"const emailData = $input.first().json;\nlet htmlContent = emailData.html;\n\nif (!htmlContent || typeof htmlContent !== 'string') {\n    return [{ json: { \n        data: [], \n        error: 'No HTML content found', \n        availableKeys: Object.keys(emailData || {}) \n    } }];\n}\n\n// Extract table data from HTML\nfunction extractTableFromHTML(html) {\n    // Find table content between <table> and </table> tags\n    const tableMatch = html.match(/<table[^>]*>([\\s\\S]*?)<\\/table>/i);\n    if (!tableMatch) {\n        return { error: 'No table found in HTML' };\n    }\n    \n    const tableContent = tableMatch[1];\n    \n    // Extract header row\n    const headerMatch = tableContent.match(/<tr[^>]*>([\\s\\S]*?)<\\/tr>/i);\n    if (!headerMatch) {\n        return { error: 'No header row found' };\n    }\n    \n    // Get all th elements from header\n    const thMatches = headerMatch[1].match(/<th[^>]*>([\\s\\S]*?)<\\/th>/gi) || [];\n    const headers = thMatches.map(th => {\n        // Remove HTML tags and get text content\n        return th.replace(/<[^>]*>/g, '').trim();\n    });\n    \n    if (headers.length === 0) {\n        return { error: 'No header columns found' };\n    }\n    \n    // Extract all data rows (skip first row which is header)\n    const allRowMatches = tableContent.match(/<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi) || [];\n    const dataRows = allRowMatches.slice(1); // Skip header row\n    \n    const data = [];\n    \n    dataRows.forEach(row => {\n        // Get all td elements from this row\n        const tdMatches = row.match(/<td[^>]*>([\\s\\S]*?)<\\/td>/gi) || [];\n        const rowData = tdMatches.map(td => {\n            // Remove HTML tags and get text content\n            return td.replace(/<[^>]*>/g, '').trim();\n        });\n        \n        // Create object with headers as keys\n        if (rowData.length > 0) {\n            const rowObj = {};\n            headers.forEach((header, index) => {\n                rowObj[header] = rowData[index] || '';\n            });\n            data.push(rowObj);\n        }\n    });\n    \n    return { data, headers };\n}\n\nconst result = extractTableFromHTML(htmlContent);\n\nif (result.error) {\n    return [{ json: { \n        data: [], \n        error: result.error, \n        availableKeys: Object.keys(emailData || {}),\n        htmlPreview: htmlContent.substring(0, 500) + '...'\n    } }];\n}\n\nreturn [{ json: { \n    data: result.data,\n    headers: result.headers,\n    totalRows: result.data.length\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"cf315121-dadb-4b99-b78e-65d9376884de","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"36e73fdb-fb45-4a42-968c-7fe6bb8f7338","name":"html","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,0],"id":"498ed2cf-fcf6-4647-ab9a-125428a49521","name":"Edit Fields"},{"parameters":{"jsCode":"// Lấy danh sách records từ mảng data của item đầu tiên\nconst records = items[0].json.data;\n\nconst uniqueMap = new Map();\n\nrecords.forEach(record => {\n  if (!uniqueMap.has(record[\"Mã NV\"])) {\n    uniqueMap.set(record[\"Mã NV\"], {\n      \"Mã NV\": record[\"Mã NV\"],\n      \"Tên nhân viên\": record[\"Tên nhân viên\"],\n      \"Phòng ban / Bộ phận\": record[\"Phòng ban / Bộ phận\"],\n      \"Ngày nghỉ việc\": record[\"Ngày nghỉ việc\"]\n    });\n  }\n});\n\n// Output lại đúng định dạng cho các node phía sau\nreturn Array.from(uniqueMap.values()).map(result => ({ json: result }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,0],"id":"47858be9-e27f-4df8-8379-c375adb89a3b","name":"Code in JavaScript1"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"=Dựa vào Mã NV, đối chiếu với cột Mã ID trong file email, lấy thông tin email ở cột \"Email công ty\". Hãy thêm ico phù hợp cho mỗi hàng \nChú ý luôn luôn đối chiếu với tool email để tìm email công ty của Mã NV đã nghỉ\nMẫu thông báo đầy đủ như sau\nThay đổi Icon cho nội dung thêm phong phú\nPhần email chỉ thể hiện phần tên của email (Ví dụ: huyenacc@ancuong.com thì lấy   huyenacc)\nThưa Ông chủ hôm nay có nhân viên nghỉ việc:\n\nMã nhân viên: {{ $json.data[0][\"Mã NV\"] }}\nTên Nhân Viê:{{ $json.data[0]['Tên nhân viên'] }}\nPhòng Ban: {{ $json.data[0]['Phòng ban / Bộ phận'] }}\nNgày nghỉ việc:{{ $json.data[0]['Ngày nghỉ việc'] }}\nEmail: \nHãy click vào: https://hrpadmin.ancuong.com/Home/Login để thu hồi thiết bị của nhân viên\nVí dụ\nMã nhân viên: 10000133\nEmail công ty:huyenacc@ancuong.com \n\nOutput\n📝 Mã nhân viên: 10000133\n🙎‍♀️ Tên Nhân Viên: Nguyễn Thị Lệ Huyền\n🏢 Phòng Ban: Phòng Công nợ bán hàng\n🗓️ Ngày nghỉ việc: 26/09/2025\n📧 Email: huyenacc"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1248,0],"id":"37288dff-127a-4999-b934-876d47ae1812","name":"AI Agent"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1072,0],"id":"209ef64e-b74f-4829-be8a-27bee17b10ee","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1168,240],"id":"11057643-6dce-4fba-a63a-5485631f59ff","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"QGQAVAePmyrg1Z1T","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"chatId":"b28a198cb4cf5d9104de","text":"={{ $json.output }}"},"type":"n8n-nodes-zalo-bot-me.zaloBot","typeVersion":1,"position":[1600,0],"id":"86710a81-12b0-4888-9c48-e346bfe21ece","name":"Zalo Bot","credentials":{"zaloBotApi":{"id":"a90co2CYzefpKnZ5","name":"Zalo Bot account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1408,224],"id":"84b8d382-57a6-4c08-ba51-163efa388dfb","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Zalo Bot","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"948d247a-134c-4070-b758-c6d4dfd4daca","triggerCount":0,"shared":[{"createdAt":"2025-09-29T06:51:43.979Z","updatedAt":"2025-09-29T06:51:43.979Z","role":"workflow:owner","workflowId":"BeKgoEuuNpMedUqz","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}