docs2025-07-17/Lính của Tui.json
{"createdAt":"2025-06-19T03:05:18.044Z","updatedAt":"2025-07-16T03:59:14.000Z","id":"NZB02Ik6KU939wPH","name":"Lính của Tui","active":true,"isArchived":false,"nodes":[{"parameters":{"eventTypes":[1],"selfListen":true},"type":"n8n-nodes-zalo-tools.zaloMessageTrigger","typeVersion":1,"position":[-80,240],"id":"4ad0516f-40ea-4ddd-a0c6-81586cbe95af","name":"Zalo Message Trigger","webhookId":"d194f253-a377-41f9-8569-48a9e6555ba5","credentials":{"zaloApi":{"id":"vcCwFxX3x5yE1G7R","name":"Zalo API Credentials"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc5acde1-235e-44df-9d9e-e0046240b05f","leftValue":"={{ String($('Zalo Message Trigger').item.json.message.data.content) }}","rightValue":"Thưa Ông Chủ","operator":{"type":"string","operation":"notStartsWith"}},{"id":"c60b4476-3d68-447c-9f06-ec1ab6e3b8bd","leftValue":"={{ $json.response.gridInfoMap['490790247168708660'].groupId }}","rightValue":"490790247168708660","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,160],"id":"d4ca4a60-77d6-491b-b16a-b38c02ceba91","name":"If"},{"parameters":{"threadId":"={{ $('Zalo Message Trigger').item.json.message.threadId }}","type":1,"message":"={{ $json.output }}","quote":{},"mentions":{"uid":""}},"type":"n8n-nodes-zalo-tools.zaloSendMessage","typeVersion":4,"position":[1180,240],"id":"0fd5d9c0-7cde-4e0b-8667-9a361abc9b20","name":"Zalo Send Message","credentials":{"zaloApi":{"id":"vcCwFxX3x5yE1G7R","name":"Zalo API Credentials"}}},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1E03Wov4bfyWo4IL9QRtC5juJp_cdON7Y5mNgFaPU3b8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('Email', ``, 'string') }}"}]},"options":{"returnFirstMatch":"={{ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[760,520],"id":"85e892e0-c9d9-40cf-9984-c24ee017c0c8","name":"Mat_Khau","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,500],"id":"39a2dbe4-843a-4dc5-a57c-95f8afb7b1c7","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"QGQAVAePmyrg1Z1T","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $('Zalo Message Trigger').item.json.message.data.content }}","options":{"systemMessage":"=# Role  \nBạn là một trợ lý AI có nhiệm vụ *phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp*.  \n\n# Behavior  \nBạn phản hồi ngắn gọn, rõ ràng và thân thiện. Chỉ dùng công cụ khi cần thiết và luôn chọn đúng công cụ phù hợp với truy vấn của người dùng.\n\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và *mật khẩu email* từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.\n\n## Send Email\nTừ nội dung chat, hãy tách ra chính xác các trường sau:\n\nEmail: Địa chỉ email người gửi hoặc người nhận\nTiêu đề:Chứa tiêu đề cảu emai\nNội dung: Nội dung chính của email\n- Viết lại phần lời văn ngắn gọn dễ hiểu \n- Định dạng email đầu ra thiết kế đẹp\n\n## IP  \n→ Dùng để lấy địa chỉ IP của *máy in*, dựa vào tên *phòng ban* người dùng cung cấp.\n\n# Instructions  \n- Luôn xác định yêu cầu chính của người dùng.  \n- Dựa vào từ khóa và ngữ cảnh, chọn đúng công cụ.  \n- Nếu không xác định được công cụ phù hợp, hãy hỏi lại để làm rõ yêu cầu.  \n- Trả lời bằng văn phong ngắn gọn, rõ ràng, giống như tin nhắn Telegram.\n\n\n\n\n---\n\n🛠 Ví dụ phân phối:  \n- \"Mật khẩu email nguyen.a@cty.vn là gì?\" → Dùng công cụ `Mat_Khau`  \n- \"Giá USDT hôm nay bao nhiêu?\" → Dùng `CoinGecko`  \n- \"In ở phòng Kế Toán bị lỗi – IP máy in là gì?\" → Dùng `IP`  \n- \"Gửi mail xin nghỉ phép tới sếp\" → Dùng `Get_email`  \n- \"Thông tin về token Solana mới nhất\" → Dùng `SerpAPI`\n\n\n---\n# Yêu cầu bắt buộc: luôn phản hồi bắt đầu bằng từ \"Thưa Ông Chủ\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[740,240],"id":"1df28458-4ca0-47ed-92a7-10e721d953dc","name":"AI Agent","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-zalo-tools.zaloLoginByQr","typeVersion":1,"position":[-80,20],"id":"2a74ff3a-47ca-41e4-b732-e0050edd51b8","name":"Zalo Login Via QR Code","credentials":{"n8nZaloApi":{"id":"oJ5eokdecp8M8Q3G","name":"n8n Zalo Account Credential account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1100,500],"id":"9fc26815-1d54-4d88-b30f-6f3ddbb2a752","name":"IP1","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[960,520],"id":"48f35ed2-b739-4cc6-9307-035c9900a268","name":"SerpAPI","credentials":{"serpApi":{"id":"gf7fMggbxnkY5YyF","name":"SerpAPI account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[1280,500],"id":"9b7e72a4-9384-4899-90a6-ba9973b1b8b1","name":"Wikipedia"},{"parameters":{"operation":"getGroupInfo","groupId":"={{ $json.message.data.idTo }}"},"type":"n8n-nodes-zalo-tools.zaloGroup","typeVersion":1,"position":[200,240],"id":"facde3c1-0bfd-4544-a828-a7373b24e7e2","name":"Zalo Group1","credentials":{"zaloApi":{"id":"vcCwFxX3x5yE1G7R","name":"Zalo API Credentials"}}}],"connections":{"Zalo Message Trigger":{"main":[[{"node":"Zalo Group1","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Mat_Khau":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Zalo Send Message","type":"main","index":0}]]},"IP1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Zalo Group1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Zalo Message Trigger":{"isConnected":true,"eventTypes":[1]}},"meta":null,"pinData":{},"versionId":"67f4ff8b-b2c7-4441-9337-3c3c2d3e392b","triggerCount":1,"tags":[]}