docs2025-05-16/My workflow 4.json
{"createdAt":"2025-05-14T04:30:52.373Z","updatedAt":"2025-05-14T04:33:48.000Z","id":"2DwruzyoCpBh4CgS","name":"My workflow 4","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,380],"id":"94e9dac8-7875-4e92-ac80-47ffb7c12f77","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"f785e725-83a7-4858-b4cf-ef4dd6406391","name":"telegram_id","value":"5486934171","type":"string"},{"id":"e765309f-c604-4642-83e0-01dc28c08e87","name":"Khu vực","value":"00","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,480],"id":"636cb661-217c-4f9f-a1c9-aa77b059fe0e","name":"Config"},{"parameters":{"url":"https://cafef.vn/du-lieu/Ajax/ajaxgoldprice.ashx","sendQuery":true,"queryParameters":{"parameters":[{"name":"index","value":"={{ $json[\"Khu vực\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"*/*"},{"name":"Accept-Language","value":"en-US,en;q=0.9,vi;q=0.8"},{"name":"Cache-Control","value":"no-cache"},{"name":"Connection","value":"keep-alive"},{"name":"Pragma","value":"no-cache"},{"name":"Referer","value":"https://cafef.vn/du-lieu/gia-vang-hom-nay/trong-nuoc.chn"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"User-Agent","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"macOS\""},{"name":"Cookie","value":"ASP.NET_SessionId=mcjidujo0hcq1mo2czltpavt; _ga=GA1.1.902572357.1747122819; _ga_XLBBV02H03=GS2.1.s1747122819$o1$g0$t1747122819$j0$l0$h0; _ga_D40MBMET7Z=GS2.1.s1747122819$o1$g0$t1747122819$j0$l0$h0; _ga_860L8F5EZP=GS2.1.s1747122819$o1$g0$t1747122819$j0$l0$h0; favorite_stocks_state=1; __uidac=fdf8a46a9406cc83a6c1325ec8fe5c28; __admUTMtime=1747122819; __RC=41; __R=2; __uif=__uid%3A647277271461888930%7C__ui%3A-1%7C__create%3A1744727727"},{"name":"cookie","value":"ASP.NET_SessionId=mcjidujo0hcq1mo2czltpavt;_ga=GA1.1.902572357.1747122819;_ga_XLBBV02H03=GS2.1.s1747122819$o1$g0$t1747122819$j0$l0$h0;_ga_D40MBMET7Z=GS2.1.s1747122819$o1$g0$t1747122819$j0$l0$h0;_ga_860L8F5EZP=GS2.1.s1747122819$o1$g0$t1747122819$j0$l0$h0;favorite_stocks_state=1;__uidac=fdf8a46a9406cc83a6c1325ec8fe5c28;__admUTMtime=1747122819;__RC=41;__R=2;__uif=__uid%3A647277271461888930%7C__ui%3A-1%7C__create%3A1744727727;"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,480],"id":"80af152f-8e14-485f-9b25-ec96a5d50919","name":"Get Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc02ff4c-f0eb-4223-8dc8-aba7e2fdb448","leftValue":"={{ $json.body.Data }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"f8bcde0c-f021-4d5e-b21d-7e98be16c8c0","leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,480],"id":"bb29f2fc-33ab-4a53-93e5-aecd6373ef11","name":"Check Data"},{"parameters":{"chatId":"={{ $('Config').item.json.telegram_id }}","text":"Lấy dữ liệu giá vàng thất bại","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,580],"id":"3cbc6078-e734-49e3-895c-f464b184bb80","name":"Err Get Data","webhookId":"166c6a69-5c7a-4b74-908b-c8e6e8e25c2c","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Config').item.json.telegram_id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,380],"id":"6d43e3f0-fa39-45d4-870c-64314c2a2ce2","name":"Send","webhookId":"166c6a69-5c7a-4b74-908b-c8e6e8e25c2c","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"jsCode":"const data = $input.first().json.body.Data;\nconst lastUpdated = data[0].lastUpdated.replace(' ', 'T');\nconst formattedDate = DateTime.fromISO(lastUpdated).toFormat('HH:mm, dd/LL/yyyy');\n\nconst zones = {\n    '11': 'Hà Nội',\n    '00': 'Hồ Chí Minh',\n    '13': 'Đà Nẵng',\n    '07': 'Cần Thơ',\n    '14': 'Tây Nguyên',\n    '21': 'Đông Nam Bộ'\n};\nconst zone = data[0].zone ;\nconst zoneName = (zone in zones) ? zones[zone] : 'Chưa xác định';\n\nlet message = `Giá vàng *${zoneName}* lúc _${formattedDate}_:\\n\\n`;\n\ndata.forEach(item => {\n    const name = item.name;\n    const buyPrice = (item.buyPrice / 100).toFixed(2);\n    const sellPrice = (item.sellPrice / 100).toFixed(2);\n\n    message += `💰 ${name}:\\n📊 Mua: *${buyPrice}* - Bán: *${sellPrice}*\\n\\n`;\n});\n\nmessage += `_Đơn vị: triệu đồng/ lượng_\\n`;\n\nmessage += `👉 Xem đầy đủ tại: [cafef.vn](https://cafef.vn/du-lieu/gia-vang-hom-nay/trong-nuoc.chn)`;\n\nreturn [{\n    json: {\n        message: message\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,380],"id":"7d6e4e82-3ffb-4425-a783-77088c4d1aef","name":"Format Msg"},{"parameters":{"content":"Vào Config\n\n1: thay mã số tương ứng vào khu vực.\n11 - Hà Nội\n00 - Hồ Chí Minh\n13 - Đà Nẵng\n07 - Cần Thơ\n14 - Tây Nguyên\n21 - Đông Nam Bộ\n\n2: Thay telegram_id thành ID cá nhân của bạn.","height":280,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-20],"id":"a813f5df-55a5-4a5c-8e4d-5a85d280692a","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,580],"id":"a6695fe6-a85c-4ce7-984f-1a0a084a2911","name":"Schedule Trigger","notesInFlow":true,"notes":"Gửi giá lúc 7H00"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get Data","type":"main","index":0}]]},"Get Data":{"main":[[{"node":"Check Data","type":"main","index":0}]]},"Check Data":{"main":[[{"node":"Format Msg","type":"main","index":0}],[{"node":"Err Get Data","type":"main","index":0}]]},"Format Msg":{"main":[[{"node":"Send","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60c31d94-26f7-4287-8025-bd50f0a8cda2","triggerCount":0,"tags":[]}