my-workflow-.json
{
  "createdAt": "2025-09-30T10:08:49.603Z",
  "updatedAt": "2025-09-30T10:40:13.000Z",
  "id": "ZwGqaYT63pNswwxm",
  "name": "My workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "4a3ae10b-6fd2-4ecd-8f0d-d7fca08f5bf2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -768,
        -128
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e455f8b7-b951-47ef-ad91-0291c0ca8811",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -288,
        -128
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "OMxmT1y4y2bp3fCo",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "8ca38db2-abae-4d83-812a-0afe11cd1dc5",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -448,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "vietacc",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nacg",
          "mode": "list",
          "cachedResultName": "n8nacg",
          "cachedResultUrl": "https://github.com/vietacc/n8nacg"
        },
        "filePath": "="
      },
      "id": "cf22b0aa-77a4-45e5-a0d8-62f18d9b5a13",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -608,
        -128
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "L3rWhbRxfnGUdaGz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "vietacc",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nacg",
          "mode": "list",
          "cachedResultName": "n8nacg",
          "cachedResultUrl": "https://github.com/vietacc/n8nacg"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "2da9de38-84c4-409c-a0a9-87841150c759",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        528,
        -208
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "L3rWhbRxfnGUdaGz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "vietacc",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nacg",
          "mode": "list",
          "cachedResultName": "n8nacg",
          "cachedResultUrl": "https://github.com/vietacc/n8nacg"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "d784b788-9d3b-4d55-8068-d7d6a37caacd",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        528,
        -48
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "L3rWhbRxfnGUdaGz",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "08ea083c-c94e-41b0-8c0b-989d0a88aaf5",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        368,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "a27409bc-b98c-44c9-a420-ad634b852b8f",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -112,
        -128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "2e724ff4-219f-43c5-92e0-0ae5f88621e8",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        48,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "350774bf-7cf0-4df5-a73b-b95f35b325ea",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "f7585bbf-0ed4-4740-8bf7-425c43c57e21",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        208,
        -128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "c159c93d-3c1b-4ead-a509-c2f6452f7c6b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "01e2c80f-f625-4ea2-bafe-b73da4867e48",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -272
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ddf557b5-efea-44ca-852d-987fb5366ac2",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-30T10:08:49.606Z",
      "updatedAt": "2025-09-30T10:08:49.606Z",
      "role": "workflow:owner",
      "workflowId": "ZwGqaYT63pNswwxm",
      "projectId": "bfksmVoUEprpuzrL"
    }
  ],
  "tags": []
}