docs2025-09-11/Sumary Email.json
{"createdAt":"2025-05-09T07:37:52.301Z","updatedAt":"2025-05-09T07:42:05.000Z","id":"mUKkKf8zhn86KSsv","name":"Sumary Email","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","limit":10,"filters":{"labelIds":["Label_844445309351735111","UNREAD"],"q":"={{ \n  (() => {\n    const yesterday = new Date();\n    yesterday.setDate(yesterday.getDate() - 1);\n    return `lkimngan@gmail.com after:${yesterday.getFullYear()}/${(yesterday.getMonth() + 1).toString().padStart(2, '0')}/${yesterday.getDate().toString().padStart(2, '0')}`;\n  })()\n}}"}},"id":"be51d217-7344-4972-ae81-b6f039533113","name":"Fetch Emails - Past 24 Hours","type":"n8n-nodes-base.gmail","position":[200,0],"webhookId":"20f1d11d-8a69-43f3-9323-33eaf1b3b600","typeVersion":2.1,"alwaysOutputData":true},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"id, From, To, CC, snippet","options":{}},"id":"d3d9c94c-3b56-43dd-9f3e-0b1686936701","name":"Organize Email Data - Morning","type":"n8n-nodes-base.aggregate","position":[440,0],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Go through this email summary and identify all key details mentioned, any specific issues to look at, and action items.\nUse this format to output\n{\n  \"summary_of_emails\": [\n    \"Point 1\",\n    \"Point 2\",\n    \"Point 3\"\n  ],\n  \"actions\": [\n    {\n      \"name\": \"Name 1\",\n      \"action\": \"Action 1\"\n    },\n    {\n      \"name\": \"Name 1\",\n      \"action\": \"Action 2\"\n    },\n    {\n      \"name\": \"Name 2\",\n      \"action\": \"Action 3\"\n    }\n  ]\n}\n\nInput Data:\n\n {{ $json.data.toJsonString() }}\n\n"}]},"jsonOutput":true,"options":{}},"id":"bc1eeebf-4821-49db-8384-036828724896","name":"Summarize Emails with OpenAI - Morning","type":"@n8n/n8n-nodes-langchain.openAi","position":[660,0],"typeVersion":1.7,"credentials":{"openAiApi":{"id":"vTPgYxUEswPOo6bU","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"5dd11023-86bc-4c22-9d1c-a97d9234083d","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"075f638e-3d3e-4112-90b4-7b23fbf32b90","name":"Output","value":"={{ $json.message.content.summary_of_emails[0] }}","type":"string"},{"id":"123fd0c7-c05a-4e6c-a5be-f616b84e8d30","name":"Summary","value":"={{ $json.message.content.summary_of_emails[0] }}\n{{ $json.message.content.summary_of_emails[1] }}\n{{ $json.message.content.summary_of_emails[3] }}\n{{ $json.message.content.summary_of_emails[4] }}\n{{ $json.message.content.summary_of_emails[5] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,0],"id":"d2ab9ca0-e16b-42e4-baec-299bd5f99c71","name":"Edit Fields"}],"connections":{"Fetch Emails - Past 24 Hours":{"main":[[{"node":"Organize Email Data - Morning","type":"main","index":0}]]},"Organize Email Data - Morning":{"main":[[{"node":"Summarize Emails with OpenAI - Morning","type":"main","index":0}]]},"Summarize Emails with OpenAI - Morning":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Fetch Emails - Past 24 Hours","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"99116e05-a351-4612-9583-9833f1a7ab58","triggerCount":0,"shared":[{"createdAt":"2025-05-09T07:37:52.306Z","updatedAt":"2025-05-09T07:37:52.306Z","role":"workflow:owner","workflowId":"mUKkKf8zhn86KSsv","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}