docs2025-05-08/MCP_Agent_Scrape_webpage.json
{"createdAt":"2025-04-22T04:20:21.632Z","updatedAt":"2025-04-22T05:08:14.000Z","id":"xqa5rwJRO7VbpToP","name":"MCP_Agent_Scrape_webpage","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=scrape this page {{ $json.url }}","hasOutputParser":true,"options":{"systemMessage":"=## Vai trò:\nVới vai trò là một copywriter\n\n## Quy tắc đầu ra:\n- Giữ nguyên nội dung\n- Bài viết trình bày dưới dạng markdown chuẩn.\n- Tiêu đề bài viết được tô đậm bằng ký hiệu Markdown (**).\n- Xóa bỏ tất cả các hình ảnh HTML.\n- Tất cả các đoạn `\\n` hoặc `\\n\\n` phải được thay bằng dấu xuống dòng thực sự (`\\n`) trong markdown.\n- Không sử dụng bất kỳ ký tự thoát dòng nào, mà phải tạo ra dòng mới thực tế."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,300],"id":"2ee2c71c-832c-45a4-b8ed-9e2879dd2e74","name":"AI Agent"},{"parameters":{"sseEndpoint":"https://n8n-demo.agent68.xyz/mcp/d503b381-402a-4246-91c7-10d8b3d2ca12/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[560,500],"id":"11afe145-bfdf-483e-987d-6f96dd0b2067","name":"MCP Client"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-nano-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,500],"id":"664d5a08-4126-40d5-aece-af1eddc71c75","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"vTPgYxUEswPOo6bU","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-660,120],"id":"b2441f3e-33f6-4984-bdc5-ee2c200da94a","name":"Schedule Trigger"},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"69ca2c7f-ef93-4b55-9c6a-f932f91eb638","name":"Get HTML data","type":"n8n-nodes-base.httpRequest","position":[-40,-100],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"h1.title-detail"},{"key":"content","cssSelector":"article.fck_detail","returnValue":"html"}]},"options":{}},"id":"cdc2513e-1dec-458f-8f34-f132dca1bd97","name":"Extract Data","type":"n8n-nodes-base.html","position":[240,-60],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.title }}\\n{{ $json.content }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=## Vai trò\nVới vai trò là một copywriter\n\n## Quy tắc đầu ra:\n- Giữ nguyên nội dung\n- Bài viết trình bày dưới dạng markdown chuẩn.\n- Tiêu đề bài viết được tô đậm bằng ký hiệu Markdown (**).\n- Xóa bỏ tất cả các hình ảnh HTML.\n- Tất cả các đoạn `\\n` hoặc `\\n\\n` phải được thay bằng dấu xuống dòng thực sự (`\\n`) trong markdown.\n- Không sử dụng bất kỳ ký tự thoát dòng nào, mà phải tạo ra dòng mới thực tế."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[140,-220],"id":"5383f773-1afc-46b2-b198-6752f64bde64","name":"Basic LLM Chain2","alwaysOutputData":true},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[680,-180],"id":"e8cab1d3-8dc8-42e7-bc16-fa52224b4c26","name":"Markdown"},{"parameters":{"assignments":{"assignments":[{"id":"9370402c-4a40-4ab3-9b2e-17ab91e31a8e","name":"url","value":"https://vnexpress.net/tong-bi-thu-viet-nam-du-suc-vuot-qua-thach-thuc-4875205.html","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,120],"id":"dbbb539c-a2cf-4cbf-90f6-28de97dac77f","name":"Edit Fields"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{"completeHTMLDocument":false}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[620,300],"id":"fcf55d9c-728b-4294-a262-ad01ea466c19","name":"Markdown1"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n{{ $json.data }}\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[880,300],"id":"6a4ae61e-b7d6-467e-92ae-07ac821fdc98","name":"HTML-Firecrawl","alwaysOutputData":true},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n{{ $json.data }}\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[860,-180],"id":"4180143c-7108-4aa3-9faf-0c7236682ccd","name":"HTML-Extract Data","alwaysOutputData":true},{"parameters":{"content":"## Cách 1: Sử dụng Extract html Content","height":420,"width":1180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-260],"id":"ad6193c2-9484-4eca-882b-09693d59fed0","name":"Sticky Note"},{"parameters":{"content":"## Cách 2: Sử dụng MCP fire crawl","height":400,"width":1180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,220],"id":"088ede0c-a203-42d4-95bb-6ac2d878b4e1","name":"Sticky Note1"}],"connections":{"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Get HTML data":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"HTML-Extract Data","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Get HTML data","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"HTML-Firecrawl","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dda76b76-c471-4f74-b055-00b6ca154832","triggerCount":0,"tags":[]}