docs2025-09-12/My workflow 12.json
{"createdAt":"2025-08-26T02:39:44.172Z","updatedAt":"2025-08-26T03:03:06.000Z","id":"U1D4GNat7YYcLvAa","name":"My workflow 12","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["POST"],"path":"zalo-bot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,272],"id":"8d8da981-300a-474d-9059-c587b5ad7662","name":"Webhook","webhookId":"f9c917c2-c7a6-41f8-b43a-06fe7777bbd4"},{"parameters":{"method":"POST","url":"=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"},{"name":"secret_token","value":"={{ $json.secret_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-48],"id":"8d560bd5-6a8f-4047-9f31-1500db7b4c2f","name":"HTTP Request","disabled":true},{"parameters":{"method":"POST","url":"=https://bot-api.zapps.me/bot{{ $json.token }}/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Webhook').item.json.body.message.chat.id }}"},{"name":"text","value":"={{ $('Webhook').item.json.body.message.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,224],"id":"d236961b-125c-47f9-b434-9c8947eef2b9","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-64,-64],"id":"e946c035-d961-4ff5-9867-4f112ff53086","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3f0bae0c-a86e-48f0-988b-2de79190c0fb","name":"token","value":"1973634994092554300:vdhXyywnifkULoprQWtRIzDbUIjgXAAvkPAgXuHiReeVybTPdfwpuskwyWNMdvAu","type":"string"},{"id":"1c7197bc-d6f5-48e4-95e1-9a2c432e9ee2","name":"url","value":"https://n8nacg.ancuong.com/webhook/zalo-bot","type":"string"},{"id":"7419f1d4-f082-4b85-8a09-642fa0687534","name":"secret_token","value":"zalo_n8n_2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,32],"id":"d59c5798-3e2e-43d9-bfb8-525168991958","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"04f32954-f155-4da1-8177-05e5d459b53d","triggerCount":1,"shared":[{"createdAt":"2025-08-26T02:39:44.179Z","updatedAt":"2025-08-26T02:39:44.179Z","role":"workflow:owner","workflowId":"U1D4GNat7YYcLvAa","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}