docs2025-04-21/ACADEMY.json
{"createdAt":"2025-04-21T08:40:05.747Z","updatedAt":"2025-04-21T08:40:05.747Z","id":"EBACjOuXJ81y6qb5","name":"ACADEMY","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1rY-2-8ETl9_xQlN3xShZw2OldNIu4ZyI","mode":"list","cachedResultName":"AC_ACADEMY","cachedResultUrl":"https://drive.google.com/drive/folders/1rY-2-8ETl9_xQlN3xShZw2OldNIu4ZyI"},"event":"fileCreated","options":{}},"id":"6b54e48a-7bec-4e8b-b829-b5c91d81649b","name":"Monitor Google Drive for New Files","type":"n8n-nodes-base.googleDriveTrigger","position":[-700,40],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"52435160-3b27-45d1-be3f-57380b3cb866","name":"Download File from Google Drive","type":"n8n-nodes-base.googleDrive","position":[-480,40],"typeVersion":3},{"parameters":{"modelName":"models/text-embedding-004"},"id":"0e7fd820-52d3-42b1-b01d-3f1f3e99dfe7","name":"Generate Document Embeddings (Google Gemini)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-60,260],"typeVersion":1},{"parameters":{"options":{}},"id":"1aea5178-52f4-4dd5-9216-7efcf189a8e8","name":"Load Document Data for Processing","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[180,260],"typeVersion":1},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"id":"f69879f3-ac94-48e6-9ede-da9a6299d363","name":"Split Document Text into Chunks","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[200,520],"typeVersion":1},{"parameters":{"options":{}},"id":"3e97716b-07b4-45e6-9e37-306a40472132","name":"Chat Message Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[740,60],"webhookId":"d36e67b9-a789-4801-b624-64bf8b88d702","typeVersion":1.1},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"academy_documents","mode":"list","cachedResultName":"academy_documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[0,0],"id":"b46e448d-43c6-4204-871a-301ea19d0021","name":"Supabase Vector Store"},{"parameters":{"model":"google/gemini-2.5-pro-exp-03-25:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[900,500],"id":"096ca645-36d7-4b8d-8274-6c600d3c66d4","name":"OpenRouter Chat Model1"},{"parameters":{"options":{"systemMessage":"=Bạn là một trợ lý am hiểu và hữu ích. Hãy trả lời với những câu trả lời rõ ràng, ngắn gọn và chi tiết được định dạng bằng markdown. Sử dụng định dạng markdown phù hợp bao gồm tiêu đề, danh sách gạch đầu dòng, danh sách đánh số, khối mã và các cấu trúc khác khi cần thiết để cải thiện khả năng đọc và sự rõ ràng.\nChỉ sử dụng dữ liệu nội bộ trong thư mục Academy. Tuyệt đôi không cung cấp dữ liệu bên ngoài.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1000,40],"id":"d1fe222c-58fa-4923-b2cd-2585e73d5ad9","name":"AI Agent1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"data","toolDescription":"Academy","tableName":{"__rl":true,"value":"academy_documents","mode":"list","cachedResultName":"academy_documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1220,320],"id":"de0eab38-3fe5-4c52-9f3d-d02c8ae764c0","name":"Supabase Vector Store3"},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1260,560],"id":"27f084dd-7409-4aec-b536-fa4f5ae8afa8","name":"Embeddings Google Gemini"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1100,260],"id":"8f94d90e-8ecc-491b-93f4-5bb429125833","name":"Simple Memory"}],"connections":{"Chat Message Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Download File from Google Drive":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Split Document Text into Chunks":{"ai_textSplitter":[[{"node":"Load Document Data for Processing","type":"ai_textSplitter","index":0}]]},"Load Document Data for Processing":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Monitor Google Drive for New Files":{"main":[[{"node":"Download File from Google Drive","type":"main","index":0}]]},"Generate Document Embeddings (Google Gemini)":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Supabase Vector Store3":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0035690b-cf97-4798-80f1-b3fb6a23551a","triggerCount":0,"tags":[]}