docs2025-04-21/BACKUP WORKFLOW.json
{"createdAt":"2025-04-21T09:10:41.281Z","updatedAt":"2025-04-21T09:29:25.000Z","id":"cBB4DWARhi0YTE7n","name":"BACKUP WORKFLOW","active":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-880,360],"id":"092ae737-2a46-4567-aaa2-cb916ee2314d","name":"n8n","onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1140,240],"id":"7565c3fa-3349-4fcd-8c9c-6ce7bedf1ae9","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"trungtu1824","mode":"name"},"repository":{"__rl":true,"value":"backup_n8n","mode":"list","cachedResultName":"backup_n8n","cachedResultUrl":"https://github.com/trungtu1824/backup_n8n"},"filePath":"=docs{{$now.format('yyyy-MM-dd')}}/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{$now.format('yyyy-MM-dd')}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-140,180],"id":"0f55b223-89d4-4f38-8b8e-e1d140d95d1f","name":"GitHub","retryOnFail":true,"webhookId":"14459cba-e74c-42b6-9b9a-d675456dd67a","onError":"continueErrorOutput"},{"parameters":{"batchSize":5,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-580,40],"id":"bda3def3-0c23-4429-a911-0ffdc9d306af","name":"Loop Over Items","notesInFlow":true,"onError":"continueErrorOutput"},{"parameters":{"sendTo":"lkimngan@gmail.com","subject":"n8n Workflows Backed Up Succesfully","message":"Breathe easy! :)","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[360,80],"id":"de8bca34-d9d5-4736-80b0-e82197db828c","name":"SuccessMail","webhookId":"f94016b7-7bac-4487-93e1-958b9685fcc3"},{"parameters":{"sendTo":"lkimngan@gmail.com","subject":"n8n Workflow - sao lưu Github ","message":"Look at your worrk flow here https://neverbend007.app.n8n.cloud/workflow/iKRlNEduQ9GTy5XV","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[40,-60],"id":"3ef069a7-4ca6-413c-8a24-b6d4062a0cd0","name":"FailMail","webhookId":"df8c423b-4549-4c39-b059-53a4ae280abf"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[120,360],"id":"9ea06911-70a0-4a32-bba2-eaff6fa8b9f2","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[280,560],"id":"5634896e-4d6e-4fbc-ba99-5a5303055644","name":"Limit1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}],[]]},"GitHub":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Limit":{"main":[[{"node":"SuccessMail","type":"main","index":0}]]},"Limit1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c56811ca-5a0e-4cc3-92a9-955c6c228615","triggerCount":0,"tags":[]}