docs2025-05-15/Tim Email.json
{"createdAt":"2025-04-29T07:19:30.751Z","updatedAt":"2025-04-29T09:00:04.000Z","id":"EbHVpQxHLyCP3e9p","name":"Tim Email","active":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"86acff2d-f10f-4b10-b82a-1383706324aa","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"={{ $json.message.voice.mime_type, \"\" }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a574f2a0-7893-4210-9196-13ac7b564bd0","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-200,100],"id":"389ba5bd-9f1f-4f09-9d50-0d0aa217833c","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,0],"id":"861fe037-cb77-45ab-8fe3-90ec0b24c19d","name":"OpenAI","credentials":{"openAiApi":{"id":"vTPgYxUEswPOo6bU","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[40,-40],"id":"375f9ad2-7492-4799-88e2-f9039c1defbe","name":"Telegram","webhookId":"5152f86d-fff3-46ec-83ff-6cc293e5545f","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Bạn là một trợ lý cá nhân. Vai trò của bạn là phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp. \n\n+ Các công cụ có sẵn:\n    - Data mail → Truy xuất thông tin liên quan đến việc cung cấp mật khẩu cho email.\n    - SerpAPI: dùng để truy xuất và phân tích dữ liệu từ các trang kết quả tìm kiếm\n    - Tool mail: Công cụ dùng để truy xuất email"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[500,60],"id":"054efb3d-2e68-4eb8-97b7-220b9d018497","name":"AI Agent","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-nano","mode":"list","cachedResultName":"openai/gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,380],"id":"9e66289c-542f-49b6-9699-ce0ce3ce9d83","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"vTPgYxUEswPOo6bU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a4f9f3dd-0406-4d18-9e3e-f56caab7e3fa","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,200],"id":"496082be-b511-4e27-a901-d45e14b79805","name":"Edit Fields"},{"parameters":{"chatId":"5486934171","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[860,60],"id":"650291f5-d9a7-4f66-8fba-d951f60b61ef","name":"Telegram1","webhookId":"77c0f298-95ce-463d-9ff3-5f62de0e5cac","alwaysOutputData":false,"credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"name":"Ghi_chu","description":"Đây là công cụ dùng để truy xuất dữ liệu email","workflowId":{"__rl":true,"value":"mgvSxvuu3rEkZFSV","mode":"list","cachedResultName":"tool_email"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[860,400],"id":"ee684259-9c5b-4771-ae8a-c8737ac082f9","name":"Tool mail"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-380,100],"id":"e0f357bc-f5f1-4418-9d8a-80bf608f8e1f","name":"Telegram Trigger","webhookId":"49a14761-ef3a-4325-8941-67aacb646be6","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}}],"connections":{"Switch":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Tool mail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caeef6a9-2ef4-48f6-aa7d-4537fe7c7dfc","triggerCount":0,"tags":[]}