docs2025-09-06/TRỢ LÝ CÁ NHÂN.json
{"createdAt":"2025-05-27T07:56:52.469Z","updatedAt":"2025-09-05T09:39:37.000Z","id":"4dezCFGY5rSNsffN","name":"TRỢ LÝ CÁ NHÂN","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=# Role  \nBạn là một trợ lý AI có nhiệm vụ *phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp*.  \n\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Email  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban, Mã ID...) và *mật khẩu email* từ dữ liệu `email`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng. \n\n## IP  \n→ Dùng để lấy địa chỉ IP của *máy in*, dựa vào tên *phòng ban* người dùng cung cấp.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[320,-16],"id":"b4d7dbdd-f1af-4fba-b319-315c182fabb4","name":"AI Agent","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[416,208],"id":"61cd2ed4-ede4-4dec-90fb-c5a25e2cf3c6","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[16,256],"id":"1315a7cf-ca17-408a-a065-9cd156efa8a1","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[592,224],"id":"c1f67a21-fb6f-4a6f-bf17-7ef08f0f5f73","name":"IP","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[64,-16],"id":"325374e7-3ecf-4f45-a0e0-cb19732bab29","name":"Telegram Trigger","webhookId":"39f23669-46ba-41a3-8ea6-5364b3ffbadc","credentials":{"telegramApi":{"id":"gt1FN3MTo3HeK0aI","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[752,-16],"id":"c5ee35e5-8fdb-4b89-9b62-887971706a7b","name":"Send a text message","webhookId":"a787ceb8-3723-45b9-881c-3cb316edcdd3","credentials":{"telegramApi":{"id":"gt1FN3MTo3HeK0aI","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,224],"id":"e3953938-54b3-4469-ab48-9c82ef4d1911","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"QGQAVAePmyrg1Z1T","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"IP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bca60c56-1f73-443c-8846-179d48b03306","triggerCount":1,"shared":[{"createdAt":"2025-05-27T07:56:52.473Z","updatedAt":"2025-05-27T07:56:52.473Z","role":"workflow:owner","workflowId":"4dezCFGY5rSNsffN","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}