docs2025-09-26/My workflow 5.json
{"createdAt":"2025-05-15T04:50:09.805Z","updatedAt":"2025-05-15T04:50:09.805Z","id":"4NZlLPPWzowadAdG","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{"postProcessAction":"=read","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[0,0],"id":"0f76f298-9370-4ade-8323-8213413ebb38","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"3yonxOU8nmHm3Dsj","name":"IMAP account"}}},{"parameters":{"assignments":{"assignments":[{"id":"67d9ee3e-48d8-47cc-9f4c-8f18018b3420","name":"From","value":"={{ $json.from }}","type":"string"},{"id":"791c25bc-713d-4dff-bc25-ca8c694409d0","name":"Subject","value":"={{ $json.subject }}","type":"string"},{"id":"f026044b-6472-42e8-a9ab-55be8bdb36f8","name":"Nội dung","value":"={{ $json.textHtml }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"b6e83043-e94c-449e-a9c4-ebb0bdc1b360","name":"Edit Fields"},{"parameters":{"text":"={{ $json['Nội dung'] }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"maID\": {\n      \"type\": \"string\"\n    },\n    \"tenNhanVien\": {\n      \"type\": \"string\"\n    },\n    \"ngayVaoLam\": {\n      \"type\": \"string\",\n      \"format\": \"date\"\n    },\n    \"boPhan\": {\n      \"type\": \"string\"\n    },\n    \"chucDanh\": {\n      \"type\": \"string\"\n    },\n    \"soDienThoai\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"maID\", \"tenNhanVien\", \"ngayVaoLam\", \"boPhan\", \"chucDanh\", \"soDienThoai\"]\n}\n","options":{"systemPromptTemplate":"# Promt Hệ Thống để Trích Xuất Thông Tin Nhân Viên\n\n## Vai trò & Bối cảnh\nBạn là **Trình phân tích dữ liệu nhân sự**, nhiệm vụ của bạn là **trích xuất và định dạng dữ liệu nhân viên từ các đoạn văn bản hoặc dữ liệu thô**.  \nNgười dùng của bạn là **quản lý nhân sự hoặc hệ thống quản lý dữ liệu nhân viên**. Các yêu cầu cần thể hiện rõ ràng, chính xác và dễ đọc.\n\n## Nội dung và Quy trình\nBạn sẽ nhận đầu vào chứa các thông tin nhân viên, bao gồm **maID, tên nhân viên, ngày vào làm, bộ phận, chức danh, số điện thoại**.  \nBạn cần **trích xuất các thông tin này** và **định dạng lại thành dạng Markdown rõ ràng**, chẳng hạn như bảng hoặc danh sách.\n\n## Công cụ & Chức năng\nHiện tại, không có công cụ đặc biệt được đề cập.  \nTất cả công việc là phân tích và định dạng đầu ra.\n\n## Hướng dẫn Trích Xuất & Định dạng\n- Trích xuất các mật khẩu, tên nhân viên, ngày vào làm, bộ phận, chức danh, điện thoại.\n- Đầu ra phải ở dạng Markdown, rõ ràng, dễ đọc.\n- Dưới đây là ví dụ đầu ra:\n\n---\n\n## Thông Tin Nhân Viên\n\n| **Thông Tin**          | **Chi Tiết**                |\n|------------------------|----------------------------|\n| **maID**               | 10000003      |\n| **tên nhân viên**      | Phan Trần Hòa (Rosie)      |\n| **ngày vào làm**       | 2025-05-14                 |\n| **bộ phận**            | Project & Export Department |\n| **chức danh**          | Team Leader                |\n| **số điện thoại**      | +84372628625                |\n\n---\n\n## Kết luận\nHãy đảm bảo trích xuất và định dạng đúng chính xác từng trường thông tin theo dạng bảng Markdown như ví dụ trên.\n\n---\n\n## Lưu ý\n- Nếu có nhiều dữ liệu, xử lý từng phần theo dạng danh sách hoặc bảng.\n- Nếu cần xử lý nhiều hơn hoặc có định dạng đặc biệt, vui lòng cung cấp rõ.\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[440,0],"id":"e63a3c78-1938-4ef9-9b80-edbc88d79d98","name":"Information Extractor","alwaysOutputData":true},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[460,200],"id":"d864bf60-51df-4e2e-83e1-c3f548a0cf33","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e77adda4-7552-4ddc-9a89-58754d13dbc2","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,0],"id":"73f558b4-b65f-4e7e-a3d0-e2056a259855","name":"Edit Fields1"}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"16fa4fb1-f630-4abe-97c8-bc439e1972ec","triggerCount":0,"shared":[{"createdAt":"2025-05-15T04:50:09.809Z","updatedAt":"2025-05-15T04:50:09.809Z","role":"workflow:owner","workflowId":"4NZlLPPWzowadAdG","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}