docs2025-05-21/Trợ lý Ảo.json
{"createdAt":"2025-05-10T03:46:38.975Z","updatedAt":"2025-05-20T07:07:27.000Z","id":"S46DKmqcOcq6yaFE","name":"Trợ lý Ảo","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Bạn là một trợ lý cá nhân tên là VietNT. Vai trò của bạn là phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp.\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và mật khẩu email từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.. \n## IP  \n→ Dùng để lấy địa chỉ IP của máy in, dựa vào tên phòng ban người dùng cung cấp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,0],"id":"5d608e18-b888-42e1-b251-74f04629c057","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[460,320],"id":"7512eca0-b81c-4415-baeb-e9a68ebecbad","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-340,40],"id":"8afbf58a-baf0-4c1b-92ad-0d280fe56b22","name":"Telegram Trigger","webhookId":"e95d2e75-a14a-4d04-8e09-189351d2d62b","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[620,320],"id":"327328cc-100f-473c-8078-8cbb4e4d704f","name":"IP","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$('Telegram Trigger').item.json.message.chat.id}}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[280,260],"id":"2513b7b8-37fa-4ab6-a7a9-5d6bfe4fbcf5","name":"Simple Memory"},{"parameters":{"chatId":"5486934171","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,40],"id":"922648ac-b2b2-4ac3-9354-4f23aff7cada","name":"Telegram","webhookId":"08b64f88-c297-4d23-8b5d-884630af4db2","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93ba0f45-a5c3-4e95-8de2-ba476fd389b7","leftValue":"={{ $json.message.chat.id }}","rightValue":5486934171,"operator":{"type":"number","operation":"equals"}},{"id":"75c98ca2-593e-4cf8-8907-31a0f15f0289","leftValue":"={{ $json.message.from.username }}","rightValue":"vietntacc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,0],"id":"ee04afba-d684-462c-988d-139095f67a1c","name":"If"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[40,280],"id":"d7d9b8f0-5a54-4f8c-ae85-930f9134863f","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}}],"connections":{"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"IP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bf3c6f71-1c39-43f7-b69a-dae6d93b5f37","triggerCount":1,"tags":[]}