docs2025-05-27/My workflow 7.json
{"createdAt":"2025-05-26T09:29:44.990Z","updatedAt":"2025-05-26T10:09:36.000Z","id":"nNrer0e8kwCQwebU","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{"trigger":["any_event","app_mention"],"channelId":{"__rl":true,"value":"C08U16F90GJ","mode":"list","cachedResultName":"troly"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-460,-280],"id":"b76663a1-9dbe-4415-bc3f-7f88526d767e","name":"Slack Trigger","webhookId":"b330b05e-00d1-4fcf-b630-db0e9e830c00","credentials":{"slackApi":{"id":"24uhou8Ght42FalE","name":"Slack account"}}},{"parameters":{"promptType":"define","text":"={{ $json.type }}","options":{"systemMessage":"Bạn là một trợ lý cá nhân tên là VietNT. Vai trò của bạn là phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp.\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và mật khẩu email từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.. \n## IP  \n→ Dùng để lấy địa chỉ IP của máy in, dựa vào tên phòng ban người dùng cung cấp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-120,-280],"id":"9227efec-2380-44a0-94f1-3c91ca637c0c","name":"AI Agent"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-240,0],"id":"8ad2c4f3-a6e0-4b2a-9bcc-15580e27f116","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[20,40],"id":"89bb36b0-912e-47f3-af6e-32e8589da1d6","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08U16F90GJ","mode":"list","cachedResultName":"troly"},"text":"={{ $json.output }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[240,-280],"id":"b2b53c5b-8f73-4aaf-9abe-20fde08f404a","name":"Slack","webhookId":"2e9f36ad-80a3-4676-b073-d2dfa038109d","credentials":{"slackApi":{"id":"24uhou8Ght42FalE","name":"Slack account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6574b86e-1dae-4c96-bf68-d9676547889a","triggerCount":1,"tags":[]}