docs2025-05-27/Trợ lý Ảo.json
{"createdAt":"2025-05-10T03:46:38.975Z","updatedAt":"2025-05-26T09:44:44.000Z","id":"S46DKmqcOcq6yaFE","name":"Trợ lý Ảo","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Bạn là một trợ lý cá nhân tên là VietNT. Vai trò của bạn là phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp.\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và mật khẩu email từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.. \n## IP  \n→ Dùng để lấy địa chỉ IP của máy in, dựa vào tên phòng ban người dùng cung cấp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[60,-20],"id":"5d608e18-b888-42e1-b251-74f04629c057","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[160,280],"id":"7512eca0-b81c-4415-baeb-e9a68ebecbad","name":"Email","credentials":{"googleSheetsOAuth2Api":{"id":"am1rny9DNrauEnTi","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[360,280],"id":"327328cc-100f-473c-8078-8cbb4e4d704f","name":"IP","credentials":{"airtableTokenApi":{"id":"EVGqJXHn9jLjYXsX","name":"Airtable Personal Access Token account"}}},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-20,280],"id":"49f573c0-ee1e-4af6-a980-250ea6593b09","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}},{"parameters":{"trigger":["any_event","app_mention"],"channelId":{"__rl":true,"value":"C08U16F90GJ","mode":"list","cachedResultName":"troly"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-240,-20],"id":"cf210bf4-0c33-4786-b7ca-1046617d53bb","name":"Slack Trigger","webhookId":"26e88ae1-5099-4e07-894a-485ce9f208da","credentials":{"slackApi":{"id":"24uhou8Ght42FalE","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08U16F90GJ","mode":"list","cachedResultName":"troly"},"text":"={{ $json.output }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[420,-20],"id":"911ecf53-f716-4536-9db2-b32530a535f5","name":"Slack","webhookId":"35047113-f853-4ffa-b7f9-ffcda4d2287e","credentials":{"slackApi":{"id":"24uhou8Ght42FalE","name":"Slack account"}}}],"connections":{"Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]},"IP":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Slack Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eaf5fdf0-370d-4f42-a7c7-989faec9299a","triggerCount":1,"tags":[]}