docs2025-08-18/BACKUP WORKFLOW.json
{"createdAt":"2025-04-21T09:10:41.281Z","updatedAt":"2025-04-21T09:37:34.000Z","id":"cBB4DWARhi0YTE7n","name":"BACKUP WORKFLOW","active":true,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-880,360],"id":"092ae737-2a46-4567-aaa2-cb916ee2314d","name":"n8n","credentials":{"n8nApi":{"id":"hrUkvH7zZPFTUTu1","name":"n8n account"}},"onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1140,240],"id":"7565c3fa-3349-4fcd-8c9c-6ce7bedf1ae9","name":"Schedule Trigger"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"vietacc","mode":"name"},"repository":{"__rl":true,"value":"n8nacg","mode":"list","cachedResultName":"n8nacg","cachedResultUrl":"https://github.com/vietacc/n8nacg"},"filePath":"=docs{{$now.format('yyyy-MM-dd')}}/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{$now.format('yyyy-MM-dd')}}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-140,180],"id":"0f55b223-89d4-4f38-8b8e-e1d140d95d1f","name":"GitHub","retryOnFail":true,"webhookId":"14459cba-e74c-42b6-9b9a-d675456dd67a","credentials":{"githubApi":{"id":"bAsB0gR3ipFAsfQ0","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"batchSize":5,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-500,40],"id":"bda3def3-0c23-4429-a911-0ffdc9d306af","name":"Loop Over Items","notesInFlow":true,"onError":"continueErrorOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}],[]]},"GitHub":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c23ab8d9-cd12-4ab0-9d8f-d1e4ae5571f1","triggerCount":1,"tags":[]}