docs2025-04-24/BAO CAO TUAN.json
{"createdAt":"2025-04-21T08:47:53.645Z","updatedAt":"2025-04-22T07:22:52.000Z","id":"C5JnVAIWtYjf3xTB","name":"BAO CAO TUAN","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=Hãy dựa vào nội dung công việc: {{ $json.message.text }}\n\nViết email báo cáo tuần ngắn gọn định dạng HTML, trình bày rõ ràng với 3 phần chính sau:\n\n1. Mở đầu:\n\nTiêu đề: Báo cáo tuần\n\nGiới thiệu ngắn về thời gian báo cáo (từ thứ hai đến thứ bảy).\n\n2. Nội dung công việc trong tuần:\nLiệt kê các công việc đã thực hiện trong tuần, mỗi công việc là một dòng bắt đầu bằng dấu “-”.\n3. Nội dung công việc trong sau:\n4. Kiến nghị:\nLiệt kê các kiến nghị, mỗi kiến nghị là một dòng bắt đầu bằng dấu “-”.\n\nĐịnh dạng email như sau:\n\nBáo cáo tuần\n\nNội dung công việc đã thực hiện:\n\n[Công việc 1]\n\n[Công việc 2]\n\n[Công việc 3]\n...\n[Công việc tuần sau 1]\n[Công việc tuần sau 2]\n[Công việc tuần sau 3]\n\nKiến nghị:\n\n[Kiến nghị 1]\n\n[Kiến nghị 2]\n..."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[0,0],"id":"d0edd05e-8aac-487a-b2da-fad1a3139c7d","name":"AI Agent"},{"parameters":{"model":"google/gemini-2.5-pro-exp-03-25:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[0,220],"id":"12664ae6-9e35-4c40-a2e4-fa3b9c9f83d8","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"0BASTnJJyebjJ9ZM","name":"OpenRouter account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-260,0],"id":"bca4bb42-7e18-4465-aaca-3dea6b864497","name":"Telegram Trigger","webhookId":"b67a7842-dfc0-456d-9377-fa68a7d54578","credentials":{"telegramApi":{"id":"HRooXUD2heAp4hGO","name":"Telegram account"}}},{"parameters":{"fromEmail":"vietacc@ancuong.com","toEmail":"nguyenthuongviet@gmail.com","subject":"=Báo cáo tuần từ {{ $json.monday }} đến {{ $json.saturday }}","html":"={{ $('AI Agent').item.json.output }}\n<div style=\"font-family: Tahoma; color: rgb(0, 0, 0); font-size: 13.3333px; font-weight: 400; font-style: normal; background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);\">\n<p>&nbsp;</p>\n\n<p>Tr&acirc;n trọng,</p>\n</div>\n<div style=\"font-family: Arial, sans-serif; color: #333;\">\n  <strong>Nguyễn Thượng Việt</strong><br>\n  Trưởng Nhóm Hỗ Trợ - Phòng IT<br>\n  <strong>HP:</strong> +84 (0) 908 560 577<br>\n  <strong>Email:</strong> <a href=\"mailto:vietacc@ancuong.com\">vietacc@ancuong.com</a><br>\n</div>\n\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[620,0],"id":"060d3ffb-fd09-4b22-af81-064b5d139abf","name":"Send Email","webhookId":"51aafcb2-ed5b-452a-a63e-cbe2afcae7af","credentials":{"smtp":{"id":"3jwpeGvWNLs0vb1l","name":"SMTP account"}}},{"parameters":{"jsCode":"const now = new Date();\nconst startOfWeek = new Date(now);\nstartOfWeek.setDate(now.getDate() - now.getDay()); // Đặt về Chủ nhật\nconst monday = new Date(startOfWeek);\nmonday.setDate(startOfWeek.getDate() + 1); // Thứ Hai\nconst saturday = new Date(startOfWeek);\nsaturday.setDate(startOfWeek.getDate() + 6); // Thứ Bảy\n\nreturn [{\n  json: {\n    monday: monday.toLocaleDateString('vi-VN', { day: '2-digit', month: '2-digit', year: 'numeric' }),\n    saturday: saturday.toLocaleDateString('vi-VN', { day: '2-digit', month: '2-digit', year: 'numeric' })\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,0],"id":"362ac5fd-47b1-4709-a997-da8ca3e2e1d3","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-20,-180],"id":"dc81d56b-45fb-4b66-8e0c-577bae5dc840","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"3yonxOU8nmHm3Dsj","name":"IMAP account"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Email Trigger (IMAP)":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":176}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d3dff150-7bb1-4890-bee8-74aec102f8c3","triggerCount":2,"tags":[]}