docs2025-09-23/Bot - Tro Ly.json
{"createdAt":"2025-08-25T08:19:50.122Z","updatedAt":"2025-08-28T03:07:04.000Z","id":"ovpjMM0tkT36uUIn","name":"Bot - Tro Ly","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-864],"id":"f59f548e-71d7-46fe-8ffd-57eab73b54c4","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0ded997d-871e-45fc-aed0-61fb2a1c2a96","name":"token","value":"1973634994092554300:vdhXyywnifkULoprQWtRIzDbUIjgXAAvkPAgXuHiReeVybTPdfwpuskwyWNMdvAu","type":"string"},{"id":"a1370112-69ed-410c-9909-c5883db99112","name":"url","value":"https://n8nacg.ancuong.com/webhook/zalo-bot","type":"string"},{"id":"c51334ca-90b4-4062-b08e-1dcab582efe5","name":"secret_token","value":"zalo_n8n_2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-768],"id":"dc2fa2e8-1330-4768-9287-08bdef669f14","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"},{"name":"secret_token","value":"={{ $json.secret_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-560],"id":"15dc78b9-2bf6-48d8-b270-7c8784c27b07","name":"HTTP Request1"},{"parameters":{"documentId":{"__rl":true,"value":"1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY","mode":"list","cachedResultName":"Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rZ3AUoNmC_Mz-DwqMAgHyIQ3OMiX1V9Htw5EVx-pvGY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1E03Wov4bfyWo4IL9QRtC5juJp_cdON7Y5mNgFaPU3b8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('Email', ``, 'string') }}"}]},"options":{"returnFirstMatch":"={{ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-192,-304],"id":"98ec976c-8a60-414d-b437-0a538478101c","name":"Mat_Khau","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-320,-304],"id":"343e98a0-606a-4cc1-8fa5-9d5867b43cdf","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"QGQAVAePmyrg1Z1T","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"=1","options":{"systemMessage":"=# Role  \nBạn là một trợ lý AI có nhiệm vụ *phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp*.  \n\n# Behavior  \nBạn phản hồi ngắn gọn, rõ ràng và thân thiện. Chỉ dùng công cụ khi cần thiết và luôn chọn đúng công cụ phù hợp với truy vấn của người dùng.\n\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và *mật khẩu email* từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.\n\n## Send Email\nTừ nội dung chat, hãy tách ra chính xác các trường sau:\n\nEmail: Địa chỉ email người gửi hoặc người nhận\nTiêu đề:Chứa tiêu đề cảu emai\nNội dung: Nội dung chính của email\n- Viết lại phần lời văn ngắn gọn dễ hiểu \n- Định dạng email đầu ra thiết kế đẹp\n\n## IP  \n→ Dùng để lấy địa chỉ IP của *máy in*, dựa vào tên *phòng ban* người dùng cung cấp.\n\n# Instructions  \n- Luôn xác định yêu cầu chính của người dùng.  \n- Dựa vào từ khóa và ngữ cảnh, chọn đúng công cụ.  \n- Nếu không xác định được công cụ phù hợp, hãy hỏi lại để làm rõ yêu cầu.  \n- Trả lời bằng văn phong ngắn gọn, rõ ràng, giống như tin nhắn Telegram.\n\n\n\n\n---\n\n🛠 Ví dụ phân phối:  \n- \"Mật khẩu email nguyen.a@cty.vn là gì?\" → Dùng công cụ `Mat_Khau`  \n- \"Giá USDT hôm nay bao nhiêu?\" → Dùng `CoinGecko`  \n- \"In ở phòng Kế Toán bị lỗi – IP máy in là gì?\" → Dùng `IP`  \n- \"Gửi mail xin nghỉ phép tới sếp\" → Dùng `Get_email`  \n- \"Thông tin về token Solana mới nhất\" → Dùng `SerpAPI`\n\n\n---\n# Yêu cầu bắt buộc: luôn phản hồi bắt đầu bằng từ \"Thưa Ông Chủ\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-48,-560],"id":"67748027-5db0-405c-9d2c-0fb978401244","name":"AI Agent","alwaysOutputData":true},{"parameters":{"descriptionType":"manual","toolDescription":"Dựa vào  {{ $fromAI('Phong', ``, 'string') }} hãy cung cấp IP tại {{ $fromAI('Modem_may', ``, 'string') }}","base":{"__rl":true,"value":"appNfKpsulPWc5qGr","mode":"list","cachedResultName":"IP Tỉnh","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr"},"table":{"__rl":true,"value":"tblsgSrCWUCA2dPCW","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appNfKpsulPWc5qGr/tblsgSrCWUCA2dPCW"},"id":"={{ $fromAI('Record_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-64,-304],"id":"0028fb7c-1afc-4349-9b9a-674c46cd54b9","name":"IP1","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[64,-304],"id":"9658764b-bbd2-488d-9619-cde338a20791","name":"SerpAPI","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[192,-304],"id":"e6235125-02e3-4554-9b83-1bea61805c5d","name":"Wikipedia"},{"parameters":{"method":"POST","url":"=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"},{"name":"secret_token","value":"={{ $json.secret_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-832],"id":"22f6fe0d-6be9-4a83-aa4f-088a309c94f8","name":"HTTP Request","disabled":true},{"parameters":{"httpMethod":"POST","path":"zalo-bot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-512],"id":"b619379f-6f62-446c-9992-6c05fdcedc18","name":"Webhook","webhookId":"ef6b4adb-a07c-4e07-a0ad-d54fd92c17e2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"Mat_Khau":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"IP1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1c74fb95-b58c-41ec-8b44-ffe2baf0435c","triggerCount":1,"shared":[{"createdAt":"2025-08-25T08:19:50.127Z","updatedAt":"2025-08-25T08:19:50.127Z","role":"workflow:owner","workflowId":"ovpjMM0tkT36uUIn","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}