docs2025-09-17/My workflow 10.json
{"createdAt":"2025-08-25T04:56:18.597Z","updatedAt":"2025-08-25T06:37:05.000Z","id":"fQbojcEgmMokPNIf","name":"My workflow 10","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["POST"],"path":"zalo-bot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,256],"id":"ccf7f5dc-6d07-43e7-8c88-6d97576cb47d","name":"Webhook","webhookId":"f9c917c2-c7a6-41f8-b43a-06fe7777bbd4"},{"parameters":{"method":"POST","url":"=https://bot-api.zapps.me/bot{{ $json.token }}/setWebhook","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"},{"name":"secret_token","value":"={{ $json.secret_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,16],"id":"7ac110e1-253c-4e8b-b580-2ea68bfa3918","name":"HTTP Request","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3f0bae0c-a86e-48f0-988b-2de79190c0fb","name":"token","value":"1973634994092554300:EXhfkoowvWGIPkoqtqwTsWJHaxXKyCflpxwvZhGrmCIPZnIYFIpXGcnOxfIgscYC","type":"string"},{"id":"1c7197bc-d6f5-48e4-95e1-9a2c432e9ee2","name":"url","value":"https://n8nacg.ancuong.com/webhook-test/zalo-bot","type":"string"},{"id":"7419f1d4-f082-4b85-8a09-642fa0687534","name":"secret_token","value":"zalo_n8n_2025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,160],"id":"f140e262-92a2-4bfe-a893-bb2313514e83","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://bot-api.zapps.me/bot{{ $('Edit Fields').item.json.token }}/sendMessage","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Webhook').item.json.body.message.chat.id }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,224],"id":"e68b4e6b-ce9e-4505-9341-868d02922f6b","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-16],"id":"d9149daa-74dd-48c8-97d3-1a8bea99e3a0","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.message.text }}","options":{"systemMessage":"# Role  \nBạn là một trợ lý AI có nhiệm vụ *phân phối hiệu quả các câu hỏi của người dùng đến công cụ phù hợp*.  \n\n# Behavior  \nBạn phản hồi ngắn gọn, rõ ràng và thân thiện. Chỉ dùng công cụ khi cần thiết và luôn chọn đúng công cụ phù hợp với truy vấn của người dùng.\n\n# Tools  \nBạn có quyền truy cập các công cụ sau. Hãy sử dụng đúng công cụ dựa trên truy vấn đầu vào:\n\n## Mat_Khau  \n→ Dùng để truy xuất thông tin nhân viên (họ tên, chức danh, phòng ban...) và *mật khẩu email* từ dữ liệu `Nhan_vien`.  \n→ Khi người dùng cung cấp địa chỉ email, hãy trả về mật khẩu và họ tên tương ứng.\n\n\n## IP  \n→ Dùng để lấy địa chỉ IP của *máy in*, dựa vào tên *phòng ban*, Lầu, Nhà người dùng cung cấp.\nKhi tôi yêu cầu IP phòng .. Bạn dựa vào Cột B để cung cấp IP tương ứng.\n\n# Perplexity\nTrợ lý nghiên cứu?\nTrợ lý nghiên cứu?\nCông cụ tìm kiếm thông tin?\nHay một loại tác nhân khác?\nTìm kiếm và tổng hợp thông tin?\nTrả lời câu hỏi từ người dùng?\nPhân tích dữ liệu?\nViết báo cáo?\n\n## MCP google\n- **Create: event**: Tạo mới sự kiện trong workflow.\n- **GetAll: event**: Lấy danh sách tất cả sự kiện đã tạo hoặc lưu.\n- **GoogleExecute workflow**: Thực thi workflow liên quan đến Google, như Calendar, Gmail hoặc API Google.\n- **Delete: event**: Xóa sự kiện khỏi hệ thống/workflow.\n- **Update: event**: Cập nhật thông tin cho sự kiện đã có.\n\n\n\n# Instructions  \n- Luôn xác định yêu cầu chính của người dùng.  \n- Dựa vào từ khóa và ngữ cảnh, chọn đúng công cụ.  \n- Nếu không xác định được công cụ phù hợp, hãy hỏi lại để làm rõ yêu cầu.  \n- Trả lời bằng văn phong ngắn gọn, rõ ràng, giống như tin nhắn Telegram.\n\n\n\n\n---\n\n🛠 Ví dụ phân phối:  \n- \"Mật khẩu email nguyen.a@cty.vn là gì?\" → Dùng công cụ `Mat_Khau`  \n- \"Giá USDT hôm nay bao nhiêu?\" → Dùng `CoinGecko`  \n- \"In ở phòng Kế Toán bị lỗi – IP máy in là gì?\" → Dùng `IP`  \n- \"Gửi mail xin nghỉ phép tới sếp\" → Dùng `Get_email`  \n- \"Thông tin về token Solana mới nhất\" → Dùng `SerpAPI`\n\n\n---\n# Yêu cầu bắt buộc: luôn phản hồi bắt đầu bằng từ \"Thưa Ông Chủ\". Thêm các biểu tượng EMOJI có ý nghĩa Trước \"Thưa Ông Chủ\" và trước các câu trả lời.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[480,640],"id":"bc5f1eaf-c404-4998-99d8-965f4fc8335b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[336,448],"id":"a01fb264-b963-4238-8f1f-9e908fb28f66","name":"Google Gemini Chat Model"},{"parameters":{"documentId":{"__rl":true,"value":"1E03Wov4bfyWo4IL9QRtC5juJp_cdON7Y5mNgFaPU3b8","mode":"list","cachedResultName":"email toan congty","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1E03Wov4bfyWo4IL9QRtC5juJp_cdON7Y5mNgFaPU3b8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1E03Wov4bfyWo4IL9QRtC5juJp_cdON7Y5mNgFaPU3b8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email công ty","lookupValue":"={{ $fromAI('Email', ``, 'string') }}"}]},"options":{"returnFirstMatch":"={{ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[688,448],"id":"f8bcf5aa-7fd4-4048-b0c4-e7222dd104dc","name":"Mat_Khau"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Mat_Khau":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2cd0d846-2e80-4c8e-8229-9d5891be6093","triggerCount":0,"shared":[{"createdAt":"2025-08-25T04:56:18.604Z","updatedAt":"2025-08-25T04:56:18.604Z","role":"workflow:owner","workflowId":"fQbojcEgmMokPNIf","projectId":"Jvyf4AcH7qn2Ye7v"}],"tags":[]}